<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    ${date:format=yyyy-MM}
    <targets>
        <target xsi:type="File" name="log" fileName="logs/log-${date:format=yyyy-MM-ddTHH.mm.ss:cached=true}.log"
                layout="${longdate}|${message}|${exception:format=tostring}" deleteOldFileOnStartup="true" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="log" />
    </rules>
</nlog>